<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form method="post" action="/save" th:object="${student}">
<div>
<input type="hidden" th:field="*{id}">
</div>
<div>
<label>Name</label>
<input type="text" th:field="*{name}">
<small th:errors="*{name}"></small>
</div>
<div>
<label>Class</label>
<input type="text" th:field="*{clazz}">
<small th:errors="*{clazz}"></small>
</div>
<div>
<label>Age</label>
<input type="text" th:field="*{age}">
<small th:errors="*{age}"></small>
<button>Save</button>
</div>
</form>
</body>
</html>